{include file="public/header"}
{include file="public/left"}
<div class="right">
    <!--面包屑导航-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="{:url('index/index/index')}"><i class="glyphicon glyphicon-home"></i>个人首页&raquo; </a>
            <a href="#">上传信息&raquo; </a>
            <a href="#">空运提单上传</a>
        </div>
        <!--上传主体部分-->
        <div class="container kv-main">
            <h3 class="page-header">空运提单及货物清单上传<small>(带<i class="red" style="color:red;margin-right:5px">*</i>为必填内容.)&nbsp;&nbsp;&nbsp;空运提单查询网址:<a href="http://www.likecha.com" target="_blank">http://www.likecha.com</a></small></h3>
            <form role="form" enctype="multipart/form-data" action="{:url('upload/getAirport')}" method="post" id="upairport">
                <div class="form-group">
                    <span>空运提单号: <i class="red" style="color:red;margin-right:5px">*</i></span>
                    <input type="text" name="airportNum" id="airportNum" style="color:#666;font-family:@微软雅黑;display:inline-block;width:170px;margin-right:10px" class="form-control"> <span id="airnumtip"></span>
                </div>
                <div class="form-group">
                    <span>商品总重量: <i class="red" style="color:red;margin-right:5px">*</i></span>
                    <input type="text" name="goodsWeight" id="goodsWeight" style="color:#666;font-family:@微软雅黑;display:inline-block;width:170px;margin-right:10px" class="form-control" onkeyup="this.value=this.value.replace(/^(-\d+)|^0|[^\d+]/g,'')"> <span  >(单位:kg,与原始发货文件重量误差±20kg)</span>
                    <p id="goodsWeightTip"></p>
                </div>
                <input type="hidden" name="userid" value="{$userid}" id="userid">   
                <div class="form-group" style="width:650px">
                    上传空运提单: <i class="red" style="color:red;margin-right:5px">*</i>
                    <a href="__PUBLIC__/static/index/img/airport.pdf" id="demo1" style="color:blue">点击查看示例&nbsp;(空运提单示例,点击右上角&nbsp;<i class="glyphicon glyphicon-download-alt"></i>&nbsp;图标可下载示例,点击左上角&nbsp;<i class="glyphicon glyphicon-arrow-left"></i>返回原页面)</a>
                    <input type="file" name="filename[]" id="airportFile" style="display:inline-block;width:180px">
                </div>
                <div class="form-group" style="width:650px;">
                    上传货物清单: <i class="red" style="color:red;margin-right:5px">*</i>
                    <a href="#" id="demo2" style="color:blue">点击查看示例&nbsp;(点击下载提单表示例,按照示例表填写完后进行上传)</a>
                    <input type="file" name="filename[]" id="goodsList" style="display:inline-block;width:180px">
                </div>
                <div class="form-group" style="width:650px;">
                    上传原始发货清单:<i class="red" style="color:red;margin-right:5px">*</i>
                    <a href="#" id="demo3" style="color:blue">点击查看示例&nbsp;(点击下载提单表示例,按照示例表填写完后进行上传)</a>
                    <input type="file" name="filename[]" id="originalGoodsList" style="display:inline-block;width:180px">
                </div>
                <div class="form-group text-left">
                    <button type="button" class="btn btn-primary" style="margin-top:20px" id="airbtn">点击提交</button>
                </div>
            </form>
            <!--开始显示物品详情excel预览下载模态框 -->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal2">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">货物清单excel表格示例与下载</h4>
                        </div>
                        <div class="modal-body">
                            <a href="__PUBLIC__/static/index/img/airport.xlsx" style="color:blue"><i class="glyphicon glyphicon-download-alt"></i>点击下载一个excel示例表</a>
                            <div style="height:20px;width:100%"></div>
                            <p><img src="__PUBLIC__/static/index/img/excel.png" style="width:580px;height:500px"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--显示excle模态框预览下载结束-->

            <!--开始显示原始发货文件excel预览下载模态框 -->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="modal3">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">原始发货清单excel表格示例与模板下载</h4>
                        </div>
                        <div class="modal-body">
                            <a href="__PUBLIC__/static/index/img/original.xls" style="color:blue"><i class="glyphicon glyphicon-download-alt"></i>点击下载一个excel示例表</a>
                            <div style="height:20px;width:100%"></div>
                            <p><img src="__PUBLIC__/static/index/img/original.png" style="width:850px;height:550px"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--显示excle模态框预览下载结束-->
        </div>
    </div>
</div>
</div>
{include file="public/footer"}

